<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DeepGIS</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/static/css/simple-sidebar.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw-src.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw-src.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-freehandshapes@0.3.7/dist/leaflet-freehandshapes.min.js"></script>
    <script src="https://unpkg.com/leaflet.vectorgrid@latest/dist/Leaflet.VectorGrid.bundled.js"></script>
    <style>
        #map {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 250px; /* Width of the sidebar */
            height: 100vh !important;
            width: auto !important;
        }
        #wrapper.toggled #map {
            left: 0;
        }
        #sidebar-wrapper {
            width: 250px;
            position: fixed;
            height: 100vh;
            z-index: 1000;
        }
        #page-content-wrapper {
            margin-left: 250px;
            padding: 0;
        }
        #wrapper.toggled #page-content-wrapper {
            margin-left: 0;
        }
    </style>
</head>

<body>
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#" style="font-size: 150%; text-align: center;">DeepGIS</a>
            </li>
            <li data-toggle="collapse" data-target="#categories" class="collapsed active">
                <p class="bold"><i class="fa fa-list-ul" aria-hidden="true"></i> Categories <span class="arrow"></span></p>
            </li>
            <form action="" class="sub-menu collapse show" id="categories">
                <ul class="sidebar-nav2 sub-menu collapse show" id="categories_coll">
                </ul>
                <div style="margin-top: 5px; display: inline-grid; grid-template-rows: 50% 50%; width: 100%; justify-items:center;">
                    <input class="form-control form-control-sm" style="width: 85%;margin-bottom: 10px;" id="add_new_category" placeholder="Add a new category">
                    <button type="button" title="Add a new category for labels" id="category_submit" style="width:40%;" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>Add category</button>
                </div>
            </form>
            <li data-toggle="collapse" data-target="#tools_coll" class="collapsed active">
                <p class="bold"><i class="fa fa-cog" aria-hidden="true"></i> Free Hand tools <span class="arrow"></span></p>
            </li>
            <ul class="sidebar-nav2 sub-menu collapse show" id="tools_coll">
                <button id="freeHandButton" title="Freehand" type="button" class="btn btn-success btn-sm"><i class="fa fa-check"></i>Enable Free Hand</button>
            </ul>
            <li data-toggle="collapse" data-target="#DrawOrHist_col" class="collapsed active">
                <p class="bold"><i class="fa fa-cog" aria-hidden="true"></i>Toggle Draw/Histogram<span class="arrow"></span></p>
            </li>
            <ul class="sidebar-nav2 sub-menu collapse show" id="DrawOrHist_col">
                <button id="DrawOrHist" title="DrawOrHist" type="button" class="btn btn-success btn-sm"><i class="fa fa-check"></i>Plot histograms</button>
            </ul>
            <ul class="sidebar-nav2 sub-menu collapse show" id="ShowAllHist1">
                <button id="ShowAllHist" title="DrawOrHist" type="button" class="btn btn-outline-primary btn-sm"><i class="fa fa-check"></i>Show all histograms</button>
            </ul>
        </ul>
    </div>
    <div id="page-content-wrapper">
        <div id="map"></div>
        <a href="/webclient/label" class="btn btn-success" style="position: absolute;top: 10px;right: 60px;z-index: 1000;"><i class="fa fa-sign-out"></i>Label</a>
        <a href="/logout" class="btn btn-danger" style="position: absolute;top: 10px;right: 10px;z-index: 1000;"><i class="fa fa-sign-out"></i></a>
    </div>
</div>

<script>
// Initialize the map centered on ASU Tempe campus
var map = L.map('map').setView([33.4242, -111.9281], 15);

// Add satellite layer from ESRI
L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
    attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community',
    maxZoom: 20,
}).addTo(map);

// Add OpenStreetMap as an optional layer for reference
var osmLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
});

// Add layer control
var baseMaps = {
    "Satellite": L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}'),
    "OpenStreetMap": osmLayer
};

L.control.layers(baseMaps).addTo(map);

// Initialize drawing controls
var drawnItems = new L.FeatureGroup();
map.addLayer(drawnItems);

var drawControl = new L.Control.Draw({
    draw: {
        polygon: true,
        polyline: false,
        circle: true,
        rectangle: true,
        circlemarker: false,
        marker: false
    },
    edit: {
        featureGroup: drawnItems,
        remove: true
    }
});
map.addControl(drawControl);

// Handle drawing events
map.on('draw:created', function(e) {
    var layer = e.layer;
    drawnItems.addLayer(layer);
});
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script src="/static/scripts/webclient/map_label.js"></script>
</body>

</html>
